











<!-- <!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <form id="username-form" action="/room" method="post">
        <input type="text" name="username" placeholder="Enter your username">
        <input type="text" name="roomname" placeholder="Enter room name">
        <button type="submit">Join Room</button>
    </form>
</body>
</html> -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome for icons -->
</head>
<body>
    <form id="username-form" action="/room" method="post">
        <h1><i class="fas fa-comments"></i>i Chat</h1>
        <div>
            <input type="text" name="username" placeholder="Enter your username" required>
        </div>
        <div>
            <input type="text" name="roomname" placeholder="Enter room name" required>
        </div>
        <button type="submit"><i class="fas fa-sign-in-alt"></i>Join Room</button>
    </form>
</body>
</html>























